//- 公用页脚
mixin footer
	- var pagePNum = pageNum - 1
	- var pageP = pagePNum
	- var pageNNum = pageNum + 1
	- var pageN = pageNNum
	- var hrefP = pagePNum < vip ? '.html' : '.vip'
	- var hrefN = pageNNum < vip ? '.html' : '.vip'
	-
		var item = {
			prev: pageNum == 1 ? "" : "novel-" + (pageP),
			next: lastPage == false ? "novel-" + (pageN) : "",
			cata: "index",
			shelf: "../index"
		};
	footer.foot-toolbar
		a.toolbar-btn(href=(item.prev == "") ? "javascript:;" : (item.prev + hrefP), class=item.prev ? "" : "disabled")
			i.icons.icon-arrowLeft
		//- a.toolbar-btn.back-to-top(href="javascript:;") 顶部
		a.toolbar-btn(href=item.cata + '.html') 目录
		a.toolbar-btn(href=(item.next == "") ? "javascript:;" : (item.next + hrefN), class=item.next ? "" : "disabled")
			i.icons.icon-arrowRight
		a.toolbar-btn(href=item.shelf + '.html') 书架