block variables
	- var page = ""
	- var pageName = "小说书架"
	- var pageClass = "bookshelf"

extends ./_page.base
block css-js
	//- link(rel="stylesheet", type="text/css", href="//s.dahao.de/lib/bootstrap-3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="./_common/bootstrap/bootstrap.min.css")
	link(rel="stylesheet", type="text/css",href="./novel.min.css")

block main
	.container

block footer
block script
	//- script(src="//s.dahao.de/lib/jquery-2.1.1/jquery.min.js")
	script(src="./_common/jquery/jquery.min.js")
	script(src="./_common/bookshelf.js")
	script.
		var _hmt=_hmt||[];!function(a,b){var c=a.getElementsByTagName(b)[0],d=c.parentNode,e=a.createElement(b),f=a.createElement(b);e.src="//hm.baidu.com/hm.js?b4b0640817859e337b676bc9dfe2b433",f.src="//push.zhanzhang.baidu.com/push.js",d.insertBefore(e,c),d.insertBefore(f,c)}(document,"script");
	block spec-script

