//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第二章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_02'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-01",
				next: "novel-03",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
			luoyy: {
				side: 'right', //-对话出现方向
				avatar: "./img/novel-01/character/luoyy", //-角色头像
				card: "./img/novel-01/character/card_luoyy", //- 角色肖像
				name: "洛瑶瑶" //-角色名 
			},
			gongxm: {
				side: "left",
				avatar: "./img/novel-01/character/gongxm",
				card: "./img/novel-01/character/card_gongxm",
				name: "宫小曼"
			},
			yuatN: {
				side: "left",
				avatar: "./img/novel-01/character/yuat",
				card: "./img/novel-01/character/card_yuat",
				name: "？？？"
			}
		}

		var playscript = {
			background: [{ //- 背景
					color: 'black' //- 首屏背景图或背景色，不需要定义锚点
				},
				{
					img: './img/novel-01/background/nightclub_room' //-普通背景图或背景色，需要定义锚点
				}
			],
			cover: './img/novel-01/cover.jpg', //-作品封面
			chapter: "第2章 | 你要带我去哪儿",
			info: [ //-台本
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "喂，你去哪里？我可是给了钱的，你不许走！"
				},
				{
					type: "text",
					fill: "瑶瑶刚要上前追赶，却被两个手下左右押住，直接将她拖上了二楼。"
				},
				{
					type: "text",
					fill: "这间女性会所的二楼很清幽，是专供客人与男侍办事的地方。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "放开我，你们要带我去哪？！"
				},
				{
					type: "text",
					fill: "瑶瑶的吼声一遍遍回荡在二楼。那两个押解她的人全然不理会，一把将她丢入走廊尽头的一个房间。相继对视一眼，无奈摇了摇头，那神情似乎在说：这女孩算是完了……"
				},
				{
					type: "bg", //- 背景
					target: 1 //- 背景图锚点，对应普通背景图或背景色
				},
				{
					type: "text",
					fill: "房间内，瑶瑶环顾着这华丽的卧房套间。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "这里是……哈，有酒。"
				},
				{
					type: "text",
					fill: "她一个箭步冲上前，随手拿起一瓶已经开启的红酒，大口、大口的对嘴喝了起来……"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "好喝么？",
					audio: "./audio/yuat0007.mp3"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "好喝耶。"
				},
				{
					type: "text",
					fill: "呃？这屋里有人？下意识的向套房的里屋看去……"
				},
				{
					type: "text",
					fill: "只见，落地窗前正站着一位手持红酒杯的男子。"
				},
				{
					type: "text",
					fill: "他是？瑶瑶上前一瞧……"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "原来是你呀。哼，你刚刚怎么跑了？都怪你，我被俩个坏蛋带来这了，他们抓得我都疼死了。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "咦，你好高哦，有1米9吗？你平时有打篮球的习惯么？哈，你的肌肉好结实啊。"
				},
				{
					type: "text",
					fill: "她先是跟男人比着身高，随后又猛戳男人的肌肉。"
				},
				{
					type: "text",
					fill: "面对这，男人只是轻冷的笑了笑，趁机夺过她手中的酒瓶。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "喂，你干什么？干什么抢我东西。还给我！还给我！"
				},
				{
					type: "text",
					fill: "只有1米5出头的瑶瑶就算蹦起来也够不到男人举起的手，这幅画面看起来，可爱极了。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "脱。",
					audio: "./audio/yuat0008.mp3"
				},
				{
					type: "text",
					fill: "脱？是她听错了么？"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "你……你说什么啊？"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "小东西，你刚不是说今天就是出来疯的么？我陪你疯，并且……不收你钱。",
					audio: "./audio/yuat0009.mp3"
				},
				{
					type: "text",
					fill: "男人邪凛的一笑，将手中的红酒放在床头，回身坐在床上的一刹那，他脸上的表情霎时变得无比阴森。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "是你自己脱，还是我帮你？！",
					audio: "./audio/yuat0010.mp3"
				},
				{
					type: "text",
					fill: "咦？男人这霸道的命令言语令瑶瑶的酒劲被吓醒了一大半，这……这男侍怎么……怎么这么主动？"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "呵，看来需要我帮你呢。",
					audio: "./audio/yuat0011.mp3"
				},
				{
					type: "text",
					fill: "他像是拎小鸡一般的，将她霸道地扔上了……"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "喂，我……"
				},
				{
					type: "text",
					fill: "刚要爬起来，却被男人按住了后颈，动弹不得。完全一副待宰羔羊的模样。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "等……等等，我……我来这里就是玩……玩来的，不需要额外服务了。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "嗯？哦？原来你不需要额外服务了？",
					audio: "./audio/yuat0012.mp3"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "是……是！不需要。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "可……我需要额外服务呢！",
					audio: "./audio/yuat0013.mp3"
				},
				{
					type: "text",
					fill: "话罢，男人的双眸一暗，伸出另一只闲着的手，用力一扯……"
				},
				{
					type: "text",
					fill: "撕拉一声，瑶瑶只觉得后背一阵凉意，一丝恶念更是侵袭着她的脑海。"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "你……你到底想怎么样？放了我！我只是个小女孩而已，你快放了我。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuatN,
					fill: "哦？小女孩？你刚才可的表现可不像小女孩哦。",
					audio: "./audio/yuat0014.mp3"
				},
				{
					type: "text",
					fill: "听着男人嘲讽的声音，她知道这一切都是自找的，可……"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "大……大哥哥，我其实是为了报复我男朋友才会来这里的，我看到他跟别的女生在做那种事，所以一生气就……就来了这里。求求你放过我吧。"
				}
			]
		};
