//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第十二章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_12'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-11",
				next: "novel-13",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/elevator' //-普通背景图或背景色，需要定义锚点
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第12章 | 谁也猜不到结局",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text",
		fill: "谁知，却被男人轻松接住。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "呵。",
		audio: "./audio/yuat0059.mp3"
		},
		{
		type: "text",
		fill: "一抹戏谑的笑容飘至嘴角，他悠闲的从口袋内掏出手机。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "喂？",
		audio: "./audio/yuat0060.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "救命啊！"
		},
		{
		type: "text",
		fill: "听着她那疯狂的喊叫声，御傲天邪凛的一笑，无奈的摇了摇脑袋。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "宝贝，能给我打电话的都是比我还无耻的人，你找他们求救，是希望……他们加入，一起玩么？",
		audio: "./audio/yuat0061.mp3"
		},
		{
		type: "text",
		fill: "是啊，能给他打电话的也不一定是好东西。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "呸，不要脸！"
		},
		{
		type: "text",
		fill: "瑶瑶终于放弃了最后一丝求救的希望，恶狠狠地瞪着他。"
		},
		{
		type: "dialogue", //-对话
		setting: character.longy,
		fill: "傲天，你在干什么呢？",
		audio: "./audio/longy0002.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "我啊，我在逗‘猫’玩呢。",
		audio: "./audio/yuat0062.mp3"
		},
		{
		type: "text",
		fill: "说着，御傲天真像是逗猫似的，戏谑的挠了挠她的下巴。"
		},
		{
		type: "text",
		fill: "瑶瑶哪里肯吃亏？打开男人的大手！"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "那你就是狗！"
		},
		{
		type: "dialogue", //-对话
		setting: character.longy,
		fill: "噗。傲天，看来你逗的还是一只小野猫哟，没被‘抓’伤吧？",
		audio: "./audio/longy0003.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "龙烨，你给我闭嘴！",
		audio: "./audio/yuat0063.mp3"
		},
		{
		type: "text",
		fill: "阴森的眸光投向瑶瑶，稍一用力，她整个身子就背靠在他怀中，一把捂住了她的小嘴。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "有什么事直接说！",
		audio: "./audio/yuat0064.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.longy,
		fill: "呃，是这样的，御龙社的叛徒已经抓到了。",
		audio: "./audio/longy0004.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "知道了，我一会儿就去处理。",
		audio: "./audio/yuat0065.mp3"
		},
		{
		type: "text",
		fill: "麻利地挂断电话。他缓缓放开了捂在她嘴巴上的手。"
		},
		{
		type: "text",
		fill: "得以解脱，瑶瑶迅速站起身。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "干嘛，说不过人家就堵人家的嘴吗？哼，我还以为你是好人呢，没想到你根本就是个无耻之徒，你敢在博森集团里面干出这种事就不怕丢掉工作么？"
		},
		{
		type: "text",
		fill: "听着她那滔滔不绝的咒骂，御傲天才发现，这丫头感情还是个能说会道的烈性子呢。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "怎么不说话了？怕了吗？既然知道怕，就别干出那么无耻的事？！我告诉你哦，今天的事情，我就当自己被狗咬了，如果你以后……呃……"
		},
		{
		type: "text",
		fill: "脖子被男人猛地掐住，她顿时觉得呼吸变得困难起来。"
		},
		{
		type: "text",
		fill: "要知道，她今天已经两次挑战他的脾气了，这能不激怒向来对女人就没什么耐心的御傲天么？"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "小东西，如果想继续刚才的事情，你可以一直说下去！",
		audio: "./audio/yuat0066.mp3"
		},
		{
		type: "text",
		fill: "如同死神一般的阴森面庞，令人不寒而栗的低沉魔音，她知道这个男人不是在开玩笑，然而……"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你不想让我……说可以。但你必须答应我……以后不许在在电梯里干出这种事……了。也不许对其他女同事干出……这种事。我就当这件事没……发生过。"
		},
		{
		type: "text",
		fill: "脖子被捏着喘不上气，她只能断断续续谈出自己的条件……"
		},
		{
		type: "text",
		fill: "可问题是，她当他御傲天是什么人？电梯色狼么？他冷眯了眯眼睛，一把将她甩开。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "好，我答应你，不会再对其他女同事做出这种事。",
		audio: "./audio/yuat0067.mp3"
		},
		{
		type: "text",
		fill: "话落，他转身走到紧闭的电梯门前，只是稍用力一拉，电梯门便打开了。"
		},
		{
		type: "text",
		fill: "好，好大的力气……瑶瑶越想越后怕，要是刚才不来那个电话的话，结局会是怎么样的？谁也不知道……"
		},
		{
		type: "text",
		fill: "走出电梯的御傲天明显感觉到电梯内的瑶瑶长松了一口气。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "呵……",
		audio: "./audio/yuat0068.mp3"
		},
		{
		type: "text",
		fill: "嘴角挑起一抹邪笑，他突然发现这小东西越来越有意思了，要是一次性把她‘吃掉’好像有些可惜了呢。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "小东西，别急，未来的日子我会让你越来越紧张的。",
		audio: "./audio/yuat0069.mp3"
		},
		{
		type: "text",
		fill: "话落，他俊邪的面庞瞬间冷却……"
		},
		]
		};
