//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第十八章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_18'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-17",
				next: "novel-19",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/manager_room' //-普通背景图或背景色，需要定义锚点
		},
		{ //- 背景
		color: 'black' //- 首屏背景图或背景色，不需要定义锚点
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第18章 | 伤疤，是巧合吗？",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text", //-对话
		fill: "这个坏蛋，明明都被识破了却反而成为了他继续‘行凶’的借口？双手下意识的护在身前。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "你还不肯罢休么？"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "罢休？难道没人告诉过你，男人一旦被挑起就很难结束么？",
		audio: "./audio/yuat0105.mp3"
		},
		{
		type: "text",
		fill: "尤其是面对这般新鲜的小东西。"
		},
		{
		type: "text",
		fill: "他一把将她按在了办公桌上……"
		},
		{
		type: "text",
		fill: "感受着男人的灼热视线，她有种说不出的羞恼。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "不要看了！"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "嗯？小东西，你可别告诉我，只是被看一下，你就有感觉了吧？",
		audio: "./audio/yuat0106.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "才不是呢！"
		},
		{
		type: "text",
		fill: "别过头，尽量避开男人强烈的视线。可就在这时，一股强烈的激流划过，男人又开始欺负她……"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "嗯……不要……"
		},
		{
		type: "text",
		fill: "瑶瑶不受控制的扭着，两年前深埋的噩梦也在慢慢开启着。"
		},
		{
		type: "text",
		fill: "她不想，实在不想再记起两年前的事情了！"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你确定还要继续下去么？！"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "哼？宝贝，我可以认为你这是在挑衅我么？",
		audio: "./audio/yuat0107.mp3"
		},
		{
		type: "text",
		fill: "见此，瑶瑶的小脸一冷，恶狠狠的吐出三个字！"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "御傲天！"
		},
		{
		type: "text",
		fill: "这一瞬间，御傲天整个人都愣住了，他没想到这丫头会突然喊出自己名字，她不是没有认出自己么？莫不成这小东西一直在装傻充愣、扮猪吃虎？正在犹豫时。"
		},
		{
		type: "text",
		fill: "瑶瑶故作冷静的笑了笑。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "怎么样？怕了吧？看来你也听过御傲天的名字咯？我告诉你，他……他可是我哥哥，你要是敢继续下去，小心他杀你全家！"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "……………………噗！",
		audio: "./audio/yuat0108.mp3"
		},
		{
		type: "text",
		fill: "见男人突然笑了起来，瑶瑶顿时有些傻眼。"
		},
		{
		type: "text",
		fill: "要知道，在日本别说见到御傲天本人了，就连听到他的名字都得退避三分，为什么这个男人却突然笑了？"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "我，我告诉你，我可没在开玩笑哦，他是日本的黑社会老大，想弄死你就跟踩死一只蚂蚁一样，懂吗？"
		},
		{
		type: "text",
		fill: "原来这丫头记得他的名字却忘记了他的脸，哼，真想马上掐死这个小东西！"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "哎哟，你也说他是日本黑社会老大了，这是在中国，那你就叫他来踩死我吧！",
		audio: "./audio/yuat0109.mp3"
		},
		{
		type: "text",
		fill: "说罢，御傲天冷眯了眯双眸，慢慢向她压了过去。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "不要！"
		},
		{
		type: "text",
		fill: "慌乱间，她遮盖住左肩的长发滑落。"
		},
		{
		type: "text",
		fill: "那道丑陋的伤疤再一次闯入了他的视线内……"
		},
		{
		type: "text",
		fill: "深邃的眸子渐渐变得阴暗，邪笑的表情也被冰冷所取缔。正是因为这道伤疤他才会找寻了她两年。"
		},
		{
		type: "text",
		fill: "然而，这伤疤是巧合还是……"
		},
		{
		type: "text",
		fill: "转身，他丢下瑶瑶快步离开了办公室内。"
		},
		{
		type: "bg", //- 背景
		target: 2 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "dialogue", //-对话
		setting: character.longy,
		fill: "完事了？",
		audio: "./audio/longy0012.mp3"
		},
		{
		type: "text",
		fill: "站在门外的龙烨坏笑的问着，却忽略了御傲天脸上的那抹阴沉。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "龙烨，你现在马上派人去给我查出洛瑶瑶的所有资料，越详细越好！",
		audio: "./audio/yuat0110.mp3"
		},
		{
		type: "text",
		fill: "呃，一听这话，龙烨的态度马上变得认真了起来。他有预感，看来有什么事要爆发了。"
		},
		{
		type: "dialogue", //-对话
		setting: character.longy,
		fill: "知道了。我这就去查。",
		audio: "./audio/longy0013.mp3"
		},
		{
		type: "text",
		fill: "他两年前不知道她的名字，现在终于知道了，那也可以查出那道伤疤的真正来源了！"
		},
		]
		};
