//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第二十一章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_21'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-20",
				next: "novel-22",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "职员"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/elevator' //1
		},
		{
		img: './img/novel-01/background/normal_office'//2
		},
		{
		img: './img/novel-01/background/elevator'//3
		},
		{
		img: './img/novel-01/background/normal_office'//4
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第21章 | 怒火中烧",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text", //-对话
		fill: "她的求饶根本无法抚平御傲天心中的怒火，就如同2年前她对他的挑衅一样。"
		},
		{
		type: "text", //-对话
		fill: "御傲天一手揪住她的长发将她压下，邪冷的眸子缓缓看向她的双唇……"
		},
		{
		type: "text",
		fill: "他，他要干什么？看着男人的动作，瑶瑶惊恐的闭起双眼，这还是她第一次看到男人的……"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "呵，以为闭起眼睛就有用么？",
		audio: ""
		},
		{
		type: "text",
		fill: "御傲天冷眯了眯眼睛，粗暴的捏开她的小嘴。"
		},
		{
		type: "text",
		fill: "这个混蛋男人该不会是要她……"
		},
		{
		type: "text",
		fill: "瑶瑶不断挣扎却抵不过男人的强硬力气。她只觉得一阵翻江倒海的恶心感袭来。泪水顺着她的双颊缓缓留下。"
		},
		{
		type: "text",
		fill: "与之有着鲜明对比的则是御傲天脸上那渐渐满足的表情。就在这时，余光无意间注意到角落里正在闪烁红灯的监视器……"
		},
		{
		type: "text",
		fill: "该死！他的表情瞬间恢复了刚才的阴沉。猛地推开瑶瑶的脑袋，拉上拉链，快步冲出了电梯内……"
		},
		{
		type: "bg", //- 
		target: 2 //- 背景
		},
		{
		type: "dialogue", //-对话
		setting: character.longq,
		fill: "完蛋了。",
		audio: ""
		},
		{
		type: "text",
		fill: "坐在控制器前的龙琪见御傲天即将杀了过来，赶忙跑出了自己的办公室。"
		},
		{
		type: "dialogue",
		setting: character.nanz,
		fill: "龙经理，发生什么事？"
		},
		{
		type: "text",
		fill: "科室内的职员见他这慌张的样子纷纷投来了好奇的目光。"
		},
		{
		type: "dialogue", //-对话
		setting: character.longq,
		fill: "别管了，一会儿御总要是过来，就说我刚一直在开会……",
		audio: ""
		},
		{
		type: "text",
		fill: "还不等他交代完，科室的大门被人从外一脚踹开。所有人的目光纷纷投向大门口……"
		},
		{
		type: "dialogue", //-对话
		setting: character.nanz,
		fill: "御……御总。"
		},
		{
		type: "text",
		fill: "杀进来的御傲天根本没功夫理会其他人。一步上前扼住了龙琪的脖子，径直将他推入了办公室内……"
		},
		{
		type: "dialogue", //-对话
		setting: character.longq,
		fill: "傲天哥，对不起，我错了。但你好歹也给我留点面子啊，外面那么多人呢。",
		audio: ""
		},
		{
		type: "text",
		fill: "一到办公室，龙琪不停的求着饶。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "呵，龙琪，你还真是有着叫人恶心的恶趣味呢！"
		},
		{
		type: "dialogue", //-对话
		setting: character.longq,
		fill: "是、是、是，我下次一定改、一定改。但这也不能怪我啊。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "照你的意思就怪我咯？",
		audio: ""
		},
		{
		type: "dialogue", //-对话
		setting: character.longq,
		fill: "呃，我可不是这个意思啊，傲天哥，求求你，先放开手吧，我快喘不上气来了。"
		},
		{
		type: "text",
		fill: "闻言，御傲天缓缓放开了扼住他脖子的手，转身坐在了办公室的沙发上。"
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "我其实吧，就是好奇你为什么对那个太平公主那么感兴趣，所以才会……毕竟这么多年下来，你身边的漂亮女人多不胜数，自动送上门的也数不清了……",
		audio: ""
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "你何必那么费劲巴拉的去招惹那个小丫头，我想绝不可能单单因为她2年前把你当成了男侍的事情吧？"
		},
		{
		type: "text",
		fill: "龙琪是跟御傲天一起打过天下的人，他十分了解御傲天的脾气。要知道，御傲天从来没有强行要过哪个女人，洛瑶瑶可算是头一遭，所以他对这个女孩充满了期待与好奇。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "想知道啊？",
		audio: ""
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "嗯！嗯！"
		},
		{
		type: "text",
		fill: "御傲天邪笑的勾了勾手指，龙琪跐溜一下子就窜到了他的身旁，把耳朵凑了过去。"
		},
		{
		type: "text",
		fill: "结果吃了御傲天一记重锤！"
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "哎哟。",
		audio: ""
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "没事管好自己的分内事，要是觉得自己太闲了就给我滚去服务部当清洁员。"
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "切……傲天你还真是小气。",
		audio: ""
		},
		{
		type: "text",
		fill: "龙琪失望地揉了揉耳朵，目光无意间瞥向了监控画面。"
		},
		{
		type: "dialogue",
		setting: character.longq,
		fill: "呃，那个太平要去哪？"
		},
		{
		type: "text",
		fill: "御傲天一听，快步冲到了监控器前。只见，瑶瑶擦抹着泪水跑出了电梯内……"
		},
		{
		type: "bg",  
		target: 3 
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "呜……呸！呸！呸！呜……"
		},
		{
		type: "text",
		fill: "男人走后，瑶瑶边哭着边吐着口水，还不到20岁的她就面对这种事的确无力招架。"
		},
		{
		type: "text",
		fill: "上午的时候在公关部的办公室他中途突然离去，这次又突然离去，虽然瑶瑶不知道原因是什么，但她肯定自己未必有那么多好运气。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "不行，不能再这样继续下去了，那个坏蛋该得到应有的惩罚的！",
		audio: ""
		},
		{
		type: "text",
		fill: "说时迟那时快，瑶瑶有了想法，刚一落下就冲出了电梯。"
		},
		{
		type: "bg",  
		target: 4 
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "嗯，就是这里了。"
		},
		{
		type: "text",
		fill: "来到42层，她站在一扇挂有保卫科几个字的玻璃门前，缓缓推开。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "不好意思，打扰了，请问，你们保卫科经理在了吗？"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "喂、喂，快看！快看，好可爱啊。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "哇塞。长得真萌，她穿的是电梯小姐的服装吧？我怎么没注意过咱们公司有这么可爱的电梯小姐呢？"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "你没听她说找咱们经理？八成是咱们经理的女朋友，劝你还是死了心吧。"
		},
		{
		type: "text",
		fill: "瑶瑶那清纯可爱的长相着实令这个满是男性的乏味办公室沸腾了一把。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "小姐，你找我们经理有什么事么？"
		},
		{
		type: "text",
		fill: "这时，坐在靠门最近的一个男职员好奇的问着。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "有点急事，如果他在的话，请你带我去见见他，好吗？我是服务科的叫洛瑶瑶。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "好的，你稍等。"
		},
		{
		type: "text",
		fill: "平日里不见这帮职员有如此高的积极性，可瑶瑶一来，这男职员跟打了鸡血似的飞快冲入了里屋的经理办公室。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "御总好、龙经理打扰了，龙经理外面有个叫洛瑶瑶的女同事找您。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "洛瑶瑶？"
		},
		{
		type: "text",
		fill: "龙琪皱了皱眉，抄起一张报纸冲到那男职员面前。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "谁找我你都要汇报吗？我又不认识那个叫什么瑶瑶的？说，是不是人家很漂亮你就跑来跟我这献殷勤来了？混蛋，没见过女人是么？"
		},
		{
		type: "text",
		fill: "他边说着，边用报纸敲打着男职员的头。"
		},
		{
		type: "text",
		fill: "龙琪可是公司出了名的暴力经理，别看他年纪小，但脾气可大得狠。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "是、是，龙经理，我知道该怎么办了。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "等等。"
		},
		{
		type: "text",
		fill: "男职员刚要离开，坐在办公椅上的御傲天缓缓开了口。"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "龙琪，既然人家点名来找你，想必是很重要的事了，你应该！去接待下的。"
		},
		{
		type: "text",
		fill: "听着御傲天那不容反对的口气，龙琪眼珠一转……"
		},
		{
		type: "text",
		fill: "傲天可是从不会管部门那些零七杂八的小事的，现在竟然主动开口要他接待那个叫什么瑶瑶的女孩，想必那个女孩是？"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "行了，小王，你去跟其他同事说叫他们马上下班。我去接待那个女孩。"
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "是。"
		}
		]
		};
