//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第三十八章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_38'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-37",
				next: "novel-39",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		zongs: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "宗少"
		},
		nvz: {//夏茹
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "夏茹"
		},
		mams: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "妈妈桑"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		nvzb: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "白玲"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/elevator' //1
		},
		{
		img: './img/novel-01/background/nightclub' //2
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第38章 | 她睡觉，他玩她……",
		info: [ //-台本
		{
		type: "bg", //- 
		target: 1 //- 
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "怎么回事？"
		},
		{
		type: "text",
		fill: "瑶瑶的大脑仍旧是蒙的，好像还没从刚刚的半梦半醒之中走出来。"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "瑶瑶！"
		},
		{
		type: "text",
		fill: "这时，白玲突然打开电梯门！"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "怎么了白玲？"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "你还好吧？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "我……我没事啊。"
		},
		{
		type: "text",
		fill: "怎么回事，她不过午睡了一小会，好像错过了很多东西似的呢？"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "哎呀，你不知道啊，刚才你在电梯里睡着了，也不知道哪个科的两个男同事想占你便宜，我本想制止的，可是那个超级大帅哥出现，那两个人就给吓跑了。之后那个大帅哥就叫我先走了。这件事情他跟你说了吗？你真该感谢他一下。要不是他，后果不堪设想啊。"
		},
		{
		type: "text",
		fill: "如果不是白玲说起这件事，她可能这辈子都不知道有这么一件事发生，难怪当自己说以后再也不在电梯睡觉后，御傲天就走了呢。他是想告诉自己在公共场合睡觉的危险性么？可……"
		},
		{
		type: "text",
		fill: "可也没有以那种方式警告自己的啊，如果他不那样干的话，自己真该好好谢谢他的。但是现在……"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "瑶瑶，你跟我说说那个帅哥跟你到底什么关系啊？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "我，我其实也跟他不太熟，我就知道他是公关部的。"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "唔，难怪会那么帅呢。那瑶瑶，你还是离他远点吧，据说……"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "咱们公司公关部的很多男人都在外面被富婆包，那个男人那么帅，还一身的名牌，估计也被人包了。"
		},
		{
		type: "text",
		fill: "这个，可能性应该不高吧？毕竟他御傲天是日本首屈一指的黑道帝王，怎么可能会被富婆包呢？嘶……不过，他既然是黑道老大又为什么跑来当公关呢？这个问题自己为什么没想过呢？"
		},
		{
		type: "dialogue", 
		setting: character.nvzb,
		fill: "瑶瑶，我去工作了。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "嗯，拜拜。"
		},
		{
		type: "text",
		fill: "送走了白玲，在加上御傲天那么一吓唬，瑶瑶整个人基本算是脱胎换骨了，下午工作起来都是精神饱满的。"
		},
		{
		type: "text",
		fill: "快接近下班的时间，一个女人走入了电梯内。当她们四目相接时……"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "洛瑶瑶？你怎么在这啊。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "夏茹？"
		},
		{
		type: "text",
		fill: "竟然在这都能遇见高中同学夏茹，世界还真是小。可瑶瑶却没有那种与老同学见面的兴奋感，反而眼神中有着回避。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "呵，呵呵你怎么，在这啊？"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "哦，我有个朋友在博森，我是来找她的。对了……"
		},
		{
		type: "text",
		fill: "夏茹上下打量了眼瑶瑶。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "你，在博森当电梯小姐？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "嗯。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "不是吧？你被风辰逸甩了就混到这么落魄了？竟然连这么低档次的活都干？"
		},
		{
		type: "text",
		fill: "就知道遇见夏茹不会有什么好事情发生了，在日本上学时其实有很多中国留学生，不过普通都是富家子弟，夏茹也是富二代其中一员。"
		},
		{
		type: "text",
		fill: "基本上那些富二代都不愿与她这个穷学生当朋友，宫小曼除外。然而当她与风辰逸交往后，那些富二代圈子的人才勉强会跟她说说话，但当她与风辰逸分手后，那些人就全部远离她了。夏茹就是一个典型的例子。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "呵呵。"
		},
		{
		type: "text",
		fill: "她搪塞的回应了一个笑容，马上转移了话题。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "夏茹，你要去几层？"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "42层。"
		},
		{
		type: "text",
		fill: "42层，不是保卫科么？瑶瑶没多想什么，直接按了电梯钮。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "对了，瑶瑶，这个周六是我的生日派对，我们的好多老同学都会去哦，你也一起来吧。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "不了，我还有事，不去了。"
		},
		{
		type: "text",
		fill: "就算去了也不会有好事发生的。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "哦？真的不去吗？可能宫小曼也会从日本过来哦，你难道……不想见见你的好朋友吗？"
		},
		{
		type: "text",
		fill: "宫小曼？小曼真的会从日本过来吗？"
		},
		{
		type: "text",
		fill: "自从毕业后，本就是日本国籍的小曼留在了日本，而她回到了中国，因为彼此的忙碌，她们都没有聊过什么天。要知道，瑶瑶这辈子最要好、最好的朋友就是小曼了。"
		},
		{
		type: "text",
		fill: "她们哭过、笑过、疯过、闹过，还一起去过女性会所，说起来那些回忆还真是美好。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "谢谢你了，夏茹，如果我有时间的话就去。"
		},
		{
		type: "dialogue", 
		setting: character.nvz,
		fill: "嗯，好的。这是请柬，先给你。"
		},
		{
		type: "text",
		fill: "夏茹把请柬交给瑶瑶后便走下了电梯。可当电梯门关闭的那一刹，她嘴角不禁扬起一丝诡异的笑容……"
		},
		{
		type: "bg", //- 
		target: 2 //- 
		},
		{
		type: "text",
		fill: "夜晚，国内最大的夜店天上人间人声鼎沸，好不热闹。舞台上，女人摆弄着舞姿；大厅内，客人们玩得不亦乐乎，可居中一个位置的气氛却显得有些诡异。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "妈的，小雪呢？老子要找小雪！"
		},
		{
		type: "text",
		fill: "男人的吼声震耳欲聋，露在衣服外面的肌肤布满了纹身。"
		},
		{
		type: "text",
		fill: "被他数落的妈妈桑更是吓得满头汗水。"
		},
		{
		type: "dialogue", 
		setting: character.mams,
		fill: "宗少，小雪今天不舒服没来，这样，您先喝点酒消消气，我给小雪打个电话，马上叫她来，行么？"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "哼，妈妈桑，那你站着干嘛，还不快去。"
		},
		{
		type: "dialogue", 
		setting: character.mams,
		fill: "是，是。小洛，快点拿瓶XO给宗少送过来。"
		},
		{
		type: "text",
		fill: "说着，妈妈桑向大厅的其中一个服务员摆了摆手。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "哦。"
		},
		{
		type: "text",
		fill: "身着一身服务员服装的瑶瑶娴熟的取来一瓶洋酒送了过来。"
		},
		{
		type: "text",
		fill: "这是她昨天下午临时找的第二份兼职工作夜店服务员。虽然知道这里面龙蛇混杂，但也没办法，为了赚钱给爷爷做透析，对于薪金日结算的夜店来说最适合不过了。所以，她今天白天上班的时候一直都是魂不附体的。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "哟，小妹妹新来的么？"
		},
		{
		type: "text",
		fill: "宗少一见瑶瑶的外貌，一双铜铃般的眼睛顿时一闪。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "是的，先生。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "来。陪哥哥我喝杯酒吧。"
		},
		{
		type: "text",
		fill: "说着，宗少色眯眯的抓住了她的小手。"
		},
		{
		type: "text",
		fill: "心一紧，她下意识的抽回手。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "抱歉先生，我不会喝酒。"
		},
		{
		type: "text",
		fill: "转身，刚要离开。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "站住！"
		},
		{
		type: "text",
		fill: "宗少的几个手下团团将她围了起来。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "妹妹，哥哥邀请你喝酒，你不喝，可就是不给哥哥我面子，哥哥我失了面子，可就不高兴了。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "客……客人，我只是服务员，不是公主。"
		},
		{
		type: "text",
		fill: "见这阵仗，瑶瑶急的冷汗直流。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "我还不知道你是服务员啊？现在老子叫你陪我喝酒，你喝，还是不喝？"
		},
		{
		type: "text",
		fill: "她是亲身体味过御傲天这个黑道老大那种不怒而威的威严感，再一看这个粗俗无比的男人，不禁叫人联想到了李文峰与风辰逸之间的差距。"
		},
		{
		type: "text",
		fill: "有些时候不是叫的越大声就是越厉害的，往往像御傲天那样低调可能才是真正的危险所在。"
		},
		{
		type: "text",
		fill: "尽管知道眼前这个男人只是个纸老虎，瑶瑶还是不能拿人家怎么样的。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "客人，我喝了这杯酒后，你就肯放过我了么？"
		},
		]
		};