//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第十九章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_19'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-18",
				next: "novel-20",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "白玲"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女孩"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/manager_room' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/reception' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/elevator' //-普通背景图或背景色，需要定义锚点
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第19章 | 地狱无门，她闯进来",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text", //-对话
		fill: "被独自丢在办公室的瑶瑶虽然不知道男人为什么会突然离开，但抓住时机，她也赶忙逃走了。"
		},
		{
		type: "text", //-对话
		fill: "时间渐渐抵达下午，趁着不忙的时候她离开了工作岗位直奔着部门经理室走去了。"
		},
		{
		type: "bg", //- 背景
		target: 2 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text",
		fill: "一不小心与一个同是身着电梯小姐制服的女生发生碰撞，她赶忙道歉。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "对不起、对不起。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz1,
		fill: "不，不，是我该说对不起。"
		},
		{
		type: "text",
		fill: "这女孩也就二十出头，笑起来的样子很是热情，她赶忙捡起瑶瑶掉落在地上的信件。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz1,
		fill: "咦，辞职信？小洛，你要辞职吗？"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "你认识我？"
		},
		{
		type: "text",
		fill: "接过那封辞职信，她好奇的问着。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz1,
		fill: "呵呵，我叫白玲，跟你是一个部门。你那么可爱，从你来我们部门报道的时候大家就很关注你哦，尤其是男生。"
		},
		{
		type: "text",
		fill: "白玲一口方言，抿嘴坏笑了起来。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz,
		fill: "对了，你不是刚来么，为什么要辞职呢？"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "那是因为……"
		},
		{
		type: "text",
		fill: "她将今天发生的一切都告诉了对方。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz,
		fill: "什么啊，瑶瑶，你被人恶搞了吧？如果我没记错的话你一直在日本留学是吧？所以你可能还不太了解博森集团。"
		},
		{
		type: "dialogue", //-对话
		setting: character.nvz,
		fill: "博森在2年前被我们新的总裁收购之后便一路长虹，新总裁的政策与领导能力都是不言而喻的，他怎么可能放任自己的属下有那种交易行为呢，你一定是被整了！"
		},
		{
		type: "text",
		fill: "在遇见了热情女孩白玲后，瑶瑶袒露了心声，说起了公关部的交易行为。白玲听完便给予了否认，瑶瑶这才恍然大悟是那个坏蛋跟龙经理联手整她的！"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "王八蛋，害得我差点就丢掉了工作，混蛋！混蛋！"
		},
		{
		type: "bg", //- 背景
		target: 3 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text",
		fill: "电梯内，瑶瑶一脸怒气的握紧拳头，不时看着时间。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "快到下班点了是吧？很好！最好别叫我遇见他……"
		},
		{
		type: "text",
		fill: "电梯在41楼停下了。呵，还真是天堂有路你不走、地狱无门你闯进来！"
		},
		{
		type: "text",
		fill: "瑶瑶静静等待着电梯打开。果不其然，只有御傲天独自一人在。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你，你们公关部明天需要哪个部门的服务了？"
		},
		{
		type: "text",
		fill: "嗯？这小东西竟然主动跟他搭话还真是罕见。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "你要是想的话，我明天也可以特别安排你来服务。",
		audio: "./audio/yuat0111.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "我才不想呢！我问你，其他部门女职员服务你们公关部的事情真的是总裁特批的么？"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "嗯？你问这干什么？",
		audio: "./audio/yuat0112.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "我就是好奇而已。这么龌龊的交易，我不明白总裁为什么能批准。"
		},
		{
		type: "text",
		fill: "回话啊！回话啊！见男人久久没有回话，瑶瑶心里着实打起了小鼓。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "呵、呵呵呵。",
		audio: "./audio/yuat0113.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你，你笑什么？回答我啊。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "回答？",
		audio: "./audio/yuat0114.mp3"
		},
		{
		type: "text",
		fill: "深邃的眸子闪过一抹阴冷，他上前一步，猛地拽住了她的胳膊。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你又想干什么？！"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "是我该问你……想干什么吧？",
		audio: "./audio/yuat0115.mp3"
		},
		{
		type: "text",
		fill: "邪佞的笑容划过嘴角，他冷眯了眯眸子，双手圈上她的腰间……"
		},
		{
		type: "text",
		fill: "糟了！瑶瑶整个心顿时提到了嗓子眼。"
		},
		]
		};
