//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第四十七章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_47'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-46",
				next: "novel-48",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
			var character = {
			luoyy: {
			side: 'right', //-对话出现方向
			avatar: "./img/novel-01/character/luoyy", //-角色头像
			card: "./img/novel-01/character/card_luoyy", //- 角色肖像
			name: "洛瑶瑶" //-角色名 
			},
			gongxm: {
			side: "left",
			avatar: "./img/novel-01/character/gongxm",
			card: "./img/novel-01/character/card_gongxm",
			name: "宫小曼"
			},
			yuatN: {
			side: "left",
			avatar: "./img/novel-01/character/yuat",
			card: "./img/novel-01/character/card_yuat",
			name: "？？？"
			},
			nanz: {
			side: "left",
			avatar: "./img/novel-01/character/nanz",
			name: "男子"
			},
			nvs: {
			side: "left",
			avatar: "./img/novel-01/character/nvz",
			name: "女子"
			},
			nvs1: {
			side: "left",
			avatar: "./img/novel-01/character/nvz",
			name: "女子1"
			},
			nvs2: {
			side: "left",
			avatar: "./img/novel-01/character/nvz",
			name: "女子2"
			},
			fengcy: {
			side: "left",
			avatar: "./img/novel-01/character/fengcy",
			card: "./img/novel-01/character/card_fengcy",
			name: "风辰逸"
			},
			nvsN: {
			side: "left",
			avatar: "./img/novel-01/character/nvz",
			name: "??"
			},
			jiz: {
			side: "left",
			avatar: "./img/novel-01/character/nvz",
			name: "记者"
			},
			yuat: {
			side: "left",
			avatar: "./img/novel-01/character/yuat",
			name: "御傲天"
			},
			meinz: {
			side: "left",
			avatar: "./img/novel-01/character/meinz",
			card: "./img/novel-01/character/card_meinz",
			name: "美奈子"
			},
			longq: {
			side: "left",
			avatar: "./img/novel-01/character/longq",
			card: "./img/novel-01/character/card_longq",
			name: "龙琪"
			},
			hanls: {
			side: "left",
			avatar: "./img/novel-01/character/hanls",
			card: "./img/novel-01/character/card_hanls",
			name: "寒离殇"
			},
			zhangjl: {
			side: "left",
			avatar: "./img/novel-01/character/zhangjl",
			card: "./img/novel-01/character/card_zhangjl",
			name: "张经理"
			},
			longy: {
			side: "left",
			avatar: "./img/novel-01/character/longy",
			card: "./img/novel-01/character/card_longy",
			name: "龙烨"
			}
			}

			var playscript = {
			background: [{
			color: 'black' //-普通背景图或背景色，需要定义锚点
			},
			{
			img: './img/novel-01/background/car' //-普通背景图或背景色，需要定义锚点
			}
			],
			cover: './img/novel-01/cover.jpg', //-作品封面
			chapter: "第47章 | 她快要疯了！",
			info: [ //-台本
			{
			type: "bg", //- 背景
			target: 1 //- 背景图锚点，对应普通背景图或背景色
			},
			{
			type: "text",
			fill: "毫无防备的，她面对面的坐在了御傲天的双腿上。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "你，你干什么？！",
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "你两年前把我当成男侍，两年后把我当成被富婆包的男公关，你猜，我要怎么惩罚你好呢？",
			},
			{
			type: "text",
			fill: "修长的手指慢慢滑过她的身子。一阵难耐的感觉袭来，她扭动了下腰肢。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "对，对不起，御老大，可你长得根本就像是吃……吃……"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "嗯？",
			},
			{
			type: "text",
			fill: "对上御傲天那双厉眸，她真恨不得马上给自己两个耳光，怎么那么不会说话。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "对不起。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "小东西，你的胆子真是越来越大呢。"
			},
			{
			type: "text",
			fill: "伸手，按下了敞篷闭合按键。跑车瞬间被黑暗所笼罩。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "你要干什么？！"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "你很快就知道了。"
			},
			{
			type: "text",
			fill: "邪邪的一笑，他顺势划入她的T恤，只轻轻一挑……扣子松了！"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "不要！"
			},
			{
			type: "text",
			fill: "瑶瑶快要崩溃了。还不等她制止，衣服便被撩起，她瞬间暴露在空气之中。惹的瑶瑶小脸羞红一片。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "这，这是马路上啊。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "这样，不是更有感觉么？"
			},
			{
			type: "text",
			fill: "御傲天控制着她抵抗的双手，头微微垂下，张开嘴……"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "唔！"
			},
			{
			type: "text",
			fill: "这该死的男人！她又羞又怕地看着车窗外。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "不要……有人来了。"
			},
			{
			type: "text",
			fill: "尽管车子的玻璃是黑色的，可是路人走近的话还是会发现车子里的人在干什么的。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "嘘，你越是吵闹，越是会吸引路人注意呢。到时候他们忍不住也加入，我可不会制止他们的哦。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "混蛋！你怎么可以说出这种话……唔……"
			},
			{
			type: "text",
			fill: "她一阵阵颤栗。男人双向袭击，她哪里招架得住？"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "宝贝，你嘴巴骂着我，可实际，你却在迎合着我，不是么？你看……你一直在摇晃，应该很想要了吧？"
			},
			{
			type: "text",
			fill: "御傲天坏坏的笑了笑，伸手指了指她不住扭着的腰。"
			},
			{
			type: "text",
			fill: "这只是在反抗而已，她根本就不想……可瑶瑶并不知道，她一直都在摩着男人的火热。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "来，叫我看看，你到底有多么需要我。"
			},
			{
			type: "text",
			fill: "说罢，御傲天的手顺着她的尾骨滑下去……瞳孔扩张，她身体的颤抖愈加强烈。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "不要！"
			},
			{
			type: "text",
			fill: "余光瞥见一个骑自行车的人正向他们驶来，她马上吞下了所有的话，小心肝都提到了嗓子眼。见此，御傲天的双眸一闪，空闲的手拉下了她的衣服。"
			},
			{
			type: "text",
			fill: "他这是？还不等瑶瑶反应过来，他缓缓开启了车窗，使得那路过的路人更加得以看清楚他们在干什么。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "你！另一只手也拿出来啊！"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "那岂不是没得玩了？"
			},
			{
			type: "text",
			fill: "话罢，男人的手直接……"
			},
			{
			type: "text",
			fill: "瑶瑶似乎一下子反应过来男人的用意了，她趴在他的肩头，悄声哀求道。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "别这样。"
			},
			{
			type: "text",
			fill: "男人哪里会理会她的哀求，只顾不断逗弄着。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "唔……"
			},
			{
			type: "text",
			fill: "一阵阵荡漾人心的感觉袭来，她的小手死死抓住男人肩头。闪烁的余光望着逐渐逼近的路人。怎么办？那个骑自行车的人马上就要过来了啊。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "宝贝，反应好大呢。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "不，不要说了。求求你，快点把手拿出来。"
			},
			{
			type: "text",
			fill: "也不知道是过于紧张，还是她从未受过如此的撩拨，在双重压力下，她愈加热起来。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "真的要拿出来么？可是，它好像在说很需要我呢。"
			},
			{
			type: "text",
			fill: "她无法控制的声音明显吸引了不远处路人的注意。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "别……嗯……"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "宝贝，你是有多放纵呢。我真想马上就试试。"
			},
			{
			type: "text",
			fill: "御傲天在说这话的同时，深邃的眸子已经被情愫充满。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "啊……别动了，不要在动了。"
			},
			{
			type: "text",
			fill: "粗重的呼吸，迷离的双眸，瑶瑶已经逐渐到达了失控的边缘。可仅存的理智却告诉她，这样的事情是不允许发生的！"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "御傲天！你够了吧。你这样太过分了。"
			},
			{
			type: "text",
			fill: "紧咬着下唇，她在他耳边低吼着，慌乱的目光却不断望着还有几步之遥就到达他们身旁的路人。"
			},
			{
			type: "text",
			fill: "就在这时，御傲天终于关闭了车窗。借此时机，她快速翻身坐在了副驾驶的位置上，不断倒着气。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "宝贝，很舒服吧？是不是在这种场合特别有感觉？"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "你，你简直是个无耻大混蛋！"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "哦？那如果我无耻的话？反应如此之大的你，是不是也很无耻呢？"
			},
			{
			type: "text",
			fill: "说罢，御傲天晃动了下自己的手。冲击着瑶瑶的眼球，她的泪水‘唰’的一下子夺眶而出……"
			},
			{
			type: "text",
			fill: "自己真的很无耻么？明明刚才那么不情愿，可却好像真的在迎合着他。到底为什么会这样呢？"
			},
			{
			type: "text",
			fill: "御傲天似乎没有看到她在哭似的，从衣服里掏出那个沾满污渍的十字绣。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "啧，这个十字绣真的挺漂亮的，你妈妈的手还真是巧呢。"
			},
			{
			type: "text",
			fill: "哭声戛然而止，她偷瞄了眼他手中的东西，一把抢了过去。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "还给我！"
			},
			{
			type: "text",
			fill: "望着上面的点点污渍，她的心泛着疼痛，泪水不禁再度袭来。"
			},
			{
			type: "dialogue", //-对话
			setting: character.yuat,
			fill: "怎么又哭了？"
			},
			{
			type: "text",
			fill: "御傲天不耐烦的皱起眉头，还想着或许这丫头看到这个东西就不哭了，没想到反而哭的更凶了。"
			},
			{
			type: "text",
			fill: "叠起满是污渍的十字绣，她愤恨的看向了御傲天。"
			},
			{
			type: "dialogue", //-对话
			setting: character.luoyy,
			fill: "你懂什么？这是我妈妈花了很多时间去做的，可是却被夏茹他们视做垃圾，但是你说了好，他们就马上改变了口气。我现在真不明白，他们到底是一群什么人啊？！"
			},
			{
			type: "text",
			fill: "“风辰逸，他们都说你很有钱。是真的么？”"
			},
			{
			type: "text",
			fill: "“你看我像有钱的样子么？那是他们胡说的。”"
			},
			{
			type: "text",
			fill: "犹记得，在几年前，她初次与风辰逸相遇的时候，他也是故作贫民子弟一步步接近她。当谎言拆穿。她问，你为什么骗我？他答，我只是想和你的距离更近一些。"
			},

			{
			type: "text",
			fill: "其实她从未觉得有钱与没有钱之间存在着距离，可是后来风辰逸与她之间的物质观、世界观、价值观都存在着差异，她仍旧觉得地位、金钱并不能影响两个人的感情。直至他们分手，所有人对她白眼相送、冷嘲热讽，她渐渐明白金钱与地位的重要性。但……"
			},
			{
			type: "text",
			fill: "也不及现在这一刻明白的透彻！"
			},
			{
			type: "text",
			fill: "只是御傲天的一句话，所有人上演大变脸的游戏，本来还是一块擦桌布的价值，可是马上就变成了稀世珍宝，还真是令人恶心！反胃！"
			},
			]
			};
