//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第十七章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_17'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-16",
				next: "novel-18",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/manager_room' //-普通背景图或背景色，需要定义锚点
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第17章 | 他们是一伙儿的",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "等等！我们不是演戏么，可为什么……"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "是呢，我们就是在演戏啊，只是……戏要做得逼真一点哦。",
		audio: "./audio/yuat0098.mp3"
		},
		{
		type: "text", //-对话
		fill: "邪凛的眸闪过一抹狡黠，大手长驱直入……"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "呀！"
		},
		{
		type: "text", //-对话
		fill: "一丝凉意与恐惧侵袭着她，明显感觉到男人在隐隐作祟，她不安分地扭着。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "把你的手拿出来！"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "嘘。宝贝，你忘记自己的任务了么？看来，是我不够努力呢。",
		audio: "./audio/yuat0099.mp3"
		},
		{
		type: "text", //-对话
		fill: "邪肆的一笑，他轻拉下肩带……"
		},
		{
		type: "text",
		fill: "没了阻碍，他更加放肆，大手缓缓地……那修长的手指如通了电一般。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "唔……"
		},
		{
		type: "text", //-对话
		fill: "瑶瑶仿佛被电流划过，唇角情不自禁，发出诱人的声音。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "哼？真看不出来呢，你挺享受，只是这么玩，就兴奋成这样。那要是……",
		audio: "./audio/yuat0100.mp3"
		},
		{
		type: "text", //-对话
		fill: "说着，他另一只闲置的手也……"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "不，不要……"
		},
		{
		type: "text",
		fill: "被这般羞辱，瑶瑶的眼角不禁溢出一抹泪光，可着实无法抵御。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "够了，住手！"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "真的要住手么？来，快看看，你有多么喜欢我。",
		audio: "./audio/yuat0101.mp3"
		},
		{
		type: "text",
		fill: "瑶瑶羞愧的闭起眼睛。"
		},
		{
		type: "text", //-对话
		fill: "坏心男人见此，邪恶一笑，双手同时使坏……"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "啊……"
		},
		{
		type: "text",
		fill: "这一瞬间，她只觉得犹如蚂蚁爬过，体温也骤然增加。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "哎呀，抖得这么厉害？还真是敏感体质呢，真想知道……加重点力道，你会怎么反应呢？",
		audio: "./audio/yuat0102.mp3"
		},
		{
		type: "text",
		fill: "男人的手向短裙划去，睁大眼睛，用力咬了下唇角。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "不要再继续下去了！"
		},
		{
		type: "text",
		fill: "这原本是要演戏的不是么？可为什么渐渐变成了真实的？亲密的触感、男人的温度，一切都是那么真实，这……根本就不是在演戏！"
		},
		{
		type: "text",
		fill: "犹记得他们第一次被困在电梯里好像是有个叫龙烨的人给他打了电话吧？而当时他对对方非常野蛮……"
		},
		{
		type: "text",
		fill: "龙烨……龙经理……难道？！"
		},
		{
		type: "text",
		fill: "想到这里，瑶瑶停止了任何反抗，小脸的恐慌也被冰冷所取代。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "你跟龙经理是一伙儿的对么？",
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "嗯？",
		audio: "./audio/yuat0103.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "就算你完不成‘任务’他也不会惩罚你，对不对？！因为你们是朋友！",
		},
		{
		type: "text",
		fill: "回过头，水灵的眸子瞪着身后邪恶的男人。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "混蛋，什么帮我，什么被开除，你根本就是一个大骗子！"
		},
		{
		type: "text",
		fill: "呵，他果然低估了这小东西的智商。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "既然你都已经知道了，那我也没必要再跟你演戏了。",
		audio: "./audio/yuat0104.mp3"
		},
		{
		type: "text",
		fill: "话落，御傲天的双眸一闪，只是轻拽了下瑶瑶的衬衣……"
		},
		{
		type: "text",
		fill: "顿时，暴露无遗！"
		},
		]
		};
