//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第九章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_09'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-08",
				next: "novel-10",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
			luoyy: {
				side: 'right', //-对话出现方向
				avatar: "./img/novel-01/character/luoyy", //-角色头像
				card: "./img/novel-01/character/card_luoyy", //- 角色肖像
				name: "洛瑶瑶" //-角色名 
			},
			gongxm: {
				side: "left",
				avatar: "./img/novel-01/character/gongxm",
				card: "./img/novel-01/character/card_gongxm",
				name: "宫小曼"
			},
			yuatN: {
				side: "left",
				avatar: "./img/novel-01/character/yuat",
				card: "./img/novel-01/character/card_yuat",
				name: "？？？"
			},
			nanz: {
				side: "left",
				avatar: "./img/novel-01/character/nanz",
				name: "男子"
			},
			nvz: {
				side: "left",
				avatar: "./img/novel-01/character/nvz",
				name: "女子"
			},
			nvz1: {
				side: "left",
				avatar: "./img/novel-01/character/nvz",
				name: "女子1"
			},
			nvz2: {
				side: "left",
				avatar: "./img/novel-01/character/nvz",
				name: "女子2"
			},
			fengcy: {
				side: "left",
				avatar: "./img/novel-01/character/fengcy",
				card: "./img/novel-01/character/card_fengcy",
				name: "风辰逸"
			},
			nvzN: {
				side: "left",
				avatar: "./img/novel-01/character/nvz",
				name: "??"
			},
			jiz: {
				side: "left",
				avatar: "./img/novel-01/character/nvz",
				name: "记者"
			},
			yuat: {
				side: "left",
				avatar: "./img/novel-01/character/yuat",
				name: "御傲天"
			},
			meinz: {
				side: "left",
				avatar: "./img/novel-01/character/meinz",
				card: "./img/novel-01/character/card_meinz",
				name: "美奈子"
			},
			longq: {
				side: "left",
				avatar: "./img/novel-01/character/longq",
				card: "./img/novel-01/character/card_longq",
				name: "龙琪"
			},
			hanls: {
				side: "left",
				avatar: "./img/novel-01/character/hanls",
				card: "./img/novel-01/character/card_hanls",
				name: "寒离殇"
			},
			zhangjl: {
				side: "left",
				avatar: "./img/novel-01/character/zhangjl",
				card: "./img/novel-01/character/card_zhangjl",
				name: "张经理"
			},
			longy: {
				side: "left",
				avatar: "./img/novel-01/character/longy",
				card: "./img/novel-01/character/card_longy",
				name: "龙烨"
			}
		}

		var playscript = {
			background: [
				{
					color: 'black' //-普通背景图或背景色，需要定义锚点
				},
				{
					img: './img/novel-01/background/elevator' //-普通背景图或背景色，需要定义锚点
				},
				{
					img: './img/novel-01/background/normal_office'
				},
				{
					img: './img/novel-01/background/reception'
				}
			],
			cover: './img/novel-01/cover.jpg', //-作品封面
			chapter: "第9章 | 羊入狼口",
			info: [ //-台本
				{
					type: "bg", //- 背景
					target: 1 //- 背景图锚点，对应普通背景图或背景色
				},
				{
					type: "text", //-对话
					fill: "2年了，他吩咐在日本的手下找了这个小东西2年都杳无音讯；却不想2年后她竟然主动来到了他的公司上班？！呵，看来这是天意呢。"
				},
				{
					type: "text", //-对话
					fill: "2年前，她从他的掌心逃跑；2年后，他绝对不会再放过这只小羔羊，一定要将她吃得连骨头都不剩！"
				},
				{
					type: "dialogue", //-对话
					setting: character.longq,
					fill: "你说第一天上班是什么意思？难道第一天上班就可以出错了么？告诉我，你的领导是谁，我一定……",
					audio: "./audio/longq0006.mp3"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuat,
					fill: "我一定跟他好好表扬你呢。",
					audio: "./audio/yuat0039.mp3"
				},
				{
					type: "text",
					fill: "见御傲天这样的反应，被打断话的龙琪立马傻了一大半，傲天这是怎么了？以他的性格应该不允许这种没用的人留在博森啊，而且态度还这么……好？！"
				},
				{
					type: "dialogue", //-对话
					setting: character.luoyy,
					fill: "先生，您的意思是我没有搞错吗？"
				},
				{
					type: "text",
					fill: "瑶瑶抬起头注视着眼前的御傲天，一双水汪汪的大眼含满了激动。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuat,
					fill: "嗯，没错呢。好好干哦。",
					audio: "./audio/yuat0040.mp3"
				},
				{
					type: "text",
					fill: "伸手拍了拍她的肩膀，转身看向了寒离殇等人。"
				},
				{
					type: "text",
					fill: "都到了，我们下电梯吧。",
					audio: "./audio/yuat0041.mp3"
				},
				{
					type: "bg",
					target: 2
				},
				{
					type: "text",
					fill: "待众人下了电梯，龙琪好奇的望了眼41楼的标志。"
				},
				{
					type: "dialogue", //-对话
					setting: character.longq,
					fill: "那个太平公主为什么把我们送来41层，这什么部门啊？",
					audio: "./audio/longq0007.mp3"
				},
				{
					type: "text",
					fill: "别说龙琪好奇，其他人也很想知道。这时，寒离殇面无表情的开了口：“公关部！”"
				},
				{
					type: "text",
					fill: "一直沉默的龙烨顿时捂嘴笑了起来。"
				},
				{
					type: "img",
					fill: character.longy.card
				},
				{
					type: "dialogue", //-对话
					setting: character.longq,
					fill: "龙烨，你笑什么？",
					audio: "./audio/longq0008.mp3"
				},
				{
					type: "dialogue", //-对话
					setting: character.longy,
					fill: "哎呀、哎呀。你们还没看出来么，刚才电梯的那个小萝莉肯定就是2年前把傲天当成男侍的笨妞，现在，她又把……又把傲天给送来了公关部，噗，哈哈……",
					audio: "./audio/longy0001.mp3"
				},
				{
					type: "text",
					fill: "谜题揭晓，这回龙琪算是明白刚刚在电梯里御傲天为什么会突然转变性情了。"
				},
				{
					type: "dialogue", //-对话
					setting: character.longq,
					fill: "看来傲天永远都无法改变在那个女孩心里吃软饭的形象了。",
					audio: "./audio/longq0009.mp3"
				},
				{
					type: "text",
					fill: "幽静的走廊内，传来一声高过一声的笑。"
				},
				{
					type: "text",
					fill: "再看看此时御傲天的脸，黑的跟那个什么似的。"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuat,
					fill: "龙琪，在下班前给我通知所有高层，今天不许他们坐这部电梯下班！",
					audio: "./audio/yuat0042.mp3"
				},
				{
					type: "dialogue",
					setting: character.longq,
					fill: "是。",
					audio: "./audio/longq0010.mp3"
				},
				{
					type: "dialogue", //-对话
					setting: character.yuat,
					fill: "另外……你只要看到我上这部电梯就立马切断里面的监控系统。",
					audio: "./audio/yuat0043.mp3"
				},
				{
					type: "text",
					fill: "龙琪期待地一笑，马上打了个手势。"
				},
				{
					type: "dialogue",
					setting: character.longq,
					fill: "OK！",
					audio: "./audio/longq0011.mp3"
				},
				{
					type: "bg",
					target: 1
				},
				{
					type: "text",
					fill: "渐渐到达了下班点了，电梯一直停泊在1楼纹丝不动，瑶瑶不时看着手表。"
				},
				{
					type: "dialogue",
					setting: character.luoyy,
					fill: "博森是5点下班的吧？怎么现在都5点半了还没有人使用电梯？难道……今天所有高层都要加班么？他们好辛苦喔……"
				},
				{
					type: "text",
					fill: "这时，电梯启动了。"
				},
				{
					type: "dialogue",
					setting: character.luoyy,
					fill: "41层？"
				},
				{
					type: "text",
					fill: "她想起早上的事，那个男人醉人的语调，优雅的气质以及俊美的外貌再度浮现在她的脑海中，想起早上那一幕，她就不禁脸红心跳的。"
				},
				{
					type: "text",
					fill: "真没想到博森的男公关会那么的优秀，谈吐间尽显大家风范。不知道这次坐电梯的人会不会又是他们呢？"
				},
				{
					type: "text",
					fill: "电梯稳稳停在了41层，当电梯门打开的那一刹。"
				},
				{
					type: "text",
					fill: "瑶瑶的眼眶内倒映着御傲天一人的身影，真的是他！"
				}
			]
		};
