//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第十六章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_16'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-15",
				next: "novel-17",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/manager_room' 
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第16章 | 不行，我做不到",
		info: [ //-台本
		{
		type: "bg", //- 背景
		target: 1 //- 背景图锚点，对应普通背景图或背景色
		},
		{
		type: "text", //-对话
		fill: "她刚要逃跑，便马上被按住。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "放开我！你们公关部的人都是疯子吗？竟然叫女同事为你们服务？就不怕总裁知道把你们开除？"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "宝贝，你要知道我们是男公关呢，当然需要练习一些技巧讨好客户咯。",
		audio: "./audio/yuat0089.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "总裁默认了你们的行为？哼！亏博森还被称为中国第一企业呢，根本就是一个贼窝，你们的总裁更是一肚子男盗女娼的坏蛋！"
		},
		{
		type: "text", //-对话
		fill: "要知道，她口中这个坏蛋总裁可就在她面前。被这小家伙指着鼻子骂，御傲天的脸色瞬间变得阴沉。"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "小东西，我看我们还是直奔主题吧。",
		audio: "./audio/yuat0090.mp3"
		},
		{
		type: "text", //-对话
		fill: "冷眯了眯眼睛，一把扼住她的脖子，将她放倒……"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "不，等……你放了我好不好？我知道，你，你也是身不由己的，不如我们想个什么其他的办法解决这件事怎么样？"
		},
		{
		type: "text",
		fill: "望着她那双闪闪动人充满期待的眸子，勾得与傲天真是越发想将她马上……毁掉！"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "哦？什么办法？？",
		audio: "./audio/yuat0091.mp3"
		},
		{
		type: "text", //-对话
		fill: "思考了一会儿，瑶瑶顿时喜笑颜开。"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "有了！我们呢就先在这里呆着，一会儿你出去跟你的上司说我们已经那什么了，这样你也不会被惩罚，我也不会吃亏，岂不是两全其美？"
		},
		{
		type: "text",
		fill: "呵，这小东西倒还真有办法，可这个世界哪里会像她脑子里想的那么单纯美好呢？"
		},
		{
		type: "dialogue", //-对话
		setting: character.yuat,
		fill: "嗯，是个不错的办法呢。",
		audio: "./audio/yuat0092.mp3"
		},
		{
		type: "dialogue", //-对话
		setting: character.luoyy,
		fill: "哈，就是说你同意了？"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "同意倒是同意。但是……",
		audio: "./audio/yuat0093.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "但是什么？"
		},
		{
		type: "text",
		fill: "御傲天邪笑的勾了勾手，他主动把耳朵凑了过去……"
		},
		{
		type: "text",
		fill: "可听他这一说完，瑶瑶的小脸一下子从脸颊红到了耳根子。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "不，不行，我做不到的。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "哎呀，那就没办法了。那我只能……勉为其难的完成龙经理的任务了。",
		audio: "./audio/yuat0094.mp3"
		},
		{
		type: "text",
		fill: "看着男人向自己伸过来的手，她慌乱的点了点头。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "等等！我，我听你的就是了！"
		},
		{
		type: "text",
		fill: "这一瞬间，御傲天的嘴角不禁勾起一抹诡异的笑痕……"
		},
		{
		type: "text",
		fill: "办公室内，不时传出女人的娇声，可这声音怎么听怎么别扭。"
		},
		{
		type: "text",
		fill: "弄得本来充满期待的御傲天实在有些听不下去了。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "宝贝，你这样是不行的。龙经理可是这方面老手，他肯定能听出我们是在联手骗他。",
		audio: "./audio/yuat0095.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "那怎么办啊，我都说了，我不会的啊。"
		},
		{
		type: "text",
		fill: "如果她会的话，那才是真的麻烦，以御傲天的脾气，2年前没吃到的东西却被别人抢了先他怎能咽下这口气？"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "唉，看来只有我能帮你了。",
		audio: "./audio/yuat0096.mp3"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "怎么……"
		},
		{
		type: "text",
		fill: "还不等她把话问完，瑶瑶便被圈住。就如同木偶一般的坐在了御傲天腿上，背靠着他。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "唔……"
		},
		{
		type: "text",
		fill: "耳珠遭袭，一股奇怪的感觉瞬间传遍全身。"
		},
		{
		type: "dialogue",
		setting: character.luoyy,
		fill: "不要。"
		},
		{
		type: "text",
		fill: "男人吹撒着她的耳珠，加重刺激着她的神经。"
		},
		{
		type: "dialogue",
		setting: character.yuat,
		fill: "宝贝，你这样的声音就对了。继续……",
		audio: "./audio/yuat0097.mp3"
		},
		{
		type: "text",
		fill: "男人继续着，手也变得不安分起来……"
		},
		]
		};
