//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageTitle = '第四十章-纯情丫头火辣辣'; //- 记得改
	-var pageClass = 'novel_40'; //- 记得改

extends _page.base

block footer
	include _footer
	block footer_setting
		-
			var item = {
				prev: "novel-39",
				next: "novel-41",
				cata: "index"
			};
		+footer
block spec-script
	script.
		//-默认独白空两行，人物画像4行，对话4行。
		var character = {
		luoyy: {
		side: 'right', //-对话出现方向
		avatar: "./img/novel-01/character/luoyy", //-角色头像
		card: "./img/novel-01/character/card_luoyy", //- 角色肖像
		name: "洛瑶瑶" //-角色名 
		},
		gongxm: {
		side: "left",
		avatar: "./img/novel-01/character/gongxm",
		card: "./img/novel-01/character/card_gongxm",
		name: "宫小曼"
		},
		yuatN: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		card: "./img/novel-01/character/card_yuat",
		name: "？？？"
		},
		nanz: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "男子"
		},
		zongs: {
		side: "left",
		avatar: "./img/novel-01/character/nanz",
		name: "宗少"
		},
		nvz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子"
		},
		nvz1: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子1"
		},
		nvz2: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "女子2"
		},
		fengcy: {
		side: "left",
		avatar: "./img/novel-01/character/fengcy",
		card: "./img/novel-01/character/card_fengcy",
		name: "风辰逸"
		},
		nvzN: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "??"
		},
		jiz: {
		side: "left",
		avatar: "./img/novel-01/character/nvz",
		name: "记者"
		},
		yuat: {
		side: "left",
		avatar: "./img/novel-01/character/yuat",
		name: "御傲天"
		},
		meinz: {
		side: "left",
		avatar: "./img/novel-01/character/meinz",
		card: "./img/novel-01/character/card_meinz",
		name: "美奈子"
		},
		longq: {
		side: "left",
		avatar: "./img/novel-01/character/longq",
		card: "./img/novel-01/character/card_longq",
		name: "龙琪"
		},
		hanls: {
		side: "left",
		avatar: "./img/novel-01/character/hanls",
		card: "./img/novel-01/character/card_hanls",
		name: "寒离殇"
		},
		zhangjl: {
		side: "left",
		avatar: "./img/novel-01/character/zhangjl",
		card: "./img/novel-01/character/card_zhangjl",
		name: "张经理"
		},
		longy: {
		side: "left",
		avatar: "./img/novel-01/character/longy",
		card: "./img/novel-01/character/card_longy",
		name: "龙烨"
		}
		}

		var playscript = {
		background: [{
		color: 'black' //-普通背景图或背景色，需要定义锚点
		},
		{
		img: './img/novel-01/background/street_night' //1
		},
		{
		img: './img/novel-01/background/car' //2
		},
		{
		img: './img/novel-01/background/nightclub_room' //3
		}
		],
		cover: './img/novel-01/cover.jpg', //-作品封面
		chapter: "第40章 | 我们来玩个游戏吧",
		info: [ //-台本
		{
		type: "bg", //- 
		target: 1 //- 
		},
		{
		type: "dialogue", 
		setting: character.nanz,
		fill: "宗，宗少，那个女的好像被砍掉您手的那个小子给带走了。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "被他带走了？该不会……呵，原来是这么回事啊。"
		},
		{
		type: "text",
		fill: "想到这，宗少恶狠狠的扫了眼地上的断手。"
		},
		{
		type: "dialogue", 
		setting: character.zongs,
		fill: "御傲天，你给我等着，这笔账我一定找你算回来！"
		},
		{
		type: "text",
		fill: "………………………………………………"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "傲天，我今天真是太爽了，多么希望以后每天都可以这样啊。"
		},
		{
		type: "text",
		fill: "一离开夜店，龙琪叽里呱啦的嘴里就没闲着过。"
		},
		{
		type: "text",
		fill: "一旁的御傲天只得无奈摇了摇头。"
		},
		{
		type: "bg",  
		target: 2 
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "你小子，样样都不积极，一到砍人的时候到永远冲第一。你叫我说你点什么好呢？"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "人各有志啊，自从你来了中国搞公司，我就觉得自己好像失业了一样，唉……"
		},
		{
		type: "text",
		fill: "说到这，龙琪长叹了一口气。"
		},
		{
		type: "text",
		fill: "现在御傲天真是不知道该说他点什么好了。"
		},
		{
		type: "text",
		fill: "无论是龙烨也好、寒离殇也罢、包括莫雪瞳，都跟在他身边努力搞着公司，唯独这个龙琪怎么提拔都不行，最后只好给了他一个又不用干活又可以动武的位置就是保卫科经理。"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "龙琪，你不是喜欢砍人么？放心，过不了多久就有你爽的时候了。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "真的假的？"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "呵。耐心等待吧……"
		},
		{
		type: "text",
		fill: "话罢，御傲天的嘴角不禁勾起一抹潜移默化的笑痕……"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "耶，太好了。对了，傲天哥。"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "什么？"
		},
		{
		type: "text",
		fill: "目光下意识的瞥了眼背在身后熟睡中的瑶瑶。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "她……真的好平啊，我背着她时完全感觉不到的。"
		},
		{
		type: "text",
		fill: "脚步静止，御傲天的脸色霎时沉了下来，在他刚要伸手把瑶瑶抢过来时……"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "呕。"
		},
		{
		type: "dialogue", 
		setting: character.longq,
		fill: "我靠，傲天……她……不是吐了吧？"
		},
		{
		type: "text",
		fill: "幽静的高速公路，一辆敞篷跑车正以飞速行驶着。"
		},
		{
		type: "text",
		fill: "夏日的凉风打在肌肤很是舒服，陷入昏迷中的瑶瑶也一点点缓过了劲。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "疼……"
		},
		{
		type: "text",
		fill: "她脸肿的跟张大饼似的，能不疼么？正开车的御傲天扫了她一眼，继续看向了前方。"
		},
		{
		type: "text",
		fill: "瑶瑶缓缓睁开迷离的双眸，下意识的看了眼身旁。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "嗯？御老大，你怎么，在这？"
		},
		{
		type: "text",
		fill: "不语。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "御老大，你想带我去哪？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "御老大，你为什么不理我啊？哦……我知道了。你想干掉我，对不对？"
		},
		{
		type: "text",
		fill: "御傲天是有多么爱杀人啊，干掉她？呵，想“干”她是真的！只不过，不是现在，他对醉酒的小妹妹实在没兴趣。御傲天依旧保持沉默，任由瑶瑶一个人在那自言自语着，直到这一刻他才发现这丫头喝醉酒后竟变得如此的烦人。"
		},
		{
		type: "text",
		fill: "就在这时……"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "御老大，你是不是说过，我要是把你吻得有感觉了，你就放过我？"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "嗯？"
		},
		{
		type: "text",
		fill: "御傲天一愣，还不等反应过来，她一个饿狼扑食掉转他的脸便亲了上去……"
		},
		{
		type: "text",
		fill: "该死！他竟然被一个小女孩强吻了？！这简直是奇耻大辱！"
		},
		{
		type: "text",
		fill: "急速行驶的车子在公路上划起了龙，御傲天一边开车一边还得应付发酒疯的瑶瑶，简直是忙得不可开交。他索性将车缓缓停到了路旁，来慢慢享受这青涩又笨拙的吻。"
		},
		{
		type: "text",
		fill: "呵……明明她的吻技烂得可以，却不知为何，他竟被逐渐点燃着，就连呼吸都变得重起来。双手情不自禁的攀上了她，被动的吻也渐渐变得主动起来。"
		},
		{
		type: "text",
		fill: "半晌，车内的氛围极为火热，好一阵，他们才慢慢分开……"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "小东西，我向来没兴趣对醉酒的女人出手，但……"
		},
		{
		type: "text",
		fill: "他此刻已经无法压抑下男人的那团火焰了。扣动了下座椅的按钮，车座顺势倒下，与此同时外置的敞篷也慢慢关闭。"
		},
		{
		type: "text",
		fill: "一个翻身，他霸道的将她压住，手顺势划入……"
		},
		{
		type: "bg",  
		target: 3 
		},
		{
		type: "text",
		fill: "太阳渐渐升起，明媚的阳光顺着窗帘缝隙照耀在一张华丽的双人床上。丝质的薄被盖着两人，透露着灼人的氛围。"
		},
		{
		type: "text",
		fill: "正处于睡梦中的瑶瑶咬了咬牙，发出‘咯吱、咯吱’刺耳的声音，下意识的翻了个身，她半个小身体几乎骑在了男人身上，搂着男人的小手也不老实的胡乱探索着。"
		},
		{
		type: "text",
		fill: "呃……睡意突然不见，她隐约感觉……有些不对劲吧？"
		},
		{
		type: "text",
		fill: "猛地睁开睡眼，第一时间映入她眼帘的就是御傲天那张带着阴沉又挂着黑眼圈的脸。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "啊！"
		},
		{
		type: "text",
		fill: "一声刺耳的尖叫，她快速坐起身，为什么？为什么自己会跟御傲天睡在一起？"
		},
		{
		type: "text",
		fill: "正想着，盖在身上的丝被渐渐滑落，才发现自己竟然毫无遮掩？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "啊！"
		},
		{
		type: "text",
		fill: "又是一声尖叫，抓过所有的被子裹在自己身上。为什么？为什么自己什么都没穿？"
		},
		{
		type: "text",
		fill: "惊恐的目光投向御傲天……由于所有的被子都裹在了她身上了，很自然的，光秃秃的御傲天闯入了她的视线内。为什么？为什么他也什么衣服都没穿？如果……这是一个梦……该多好……"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "啊！"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "宝贝，你每天早晨都是那么精力充沛的么？"
		},
		{
		type: "text",
		fill: "怎么可能？谁早上刚起来就要鬼吼鬼叫的？还不是因为……"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "你，你先穿上衣服！"
		},
		{
		type: "text",
		fill: "她闭起眼睛，坐在床边一动不动的。不一会儿试探性的睁开眼睛，确定御傲天已经穿上睡袍后，愤怒的吼道。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "你还是不是人啊？你怎么连这种事都能做出来啊？！"
		},
		{
		type: "text",
		fill: "眼帘下垂，泪珠顺着眼眶滚落，她起手擦抹了下眼角的泪，却发现脸颊无比的刺痛。"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "你……你昨晚还打我了？！我不同意跟你那啥，你就打我？！我要跟你拼了！"
		},
		{
		type: "text",
		fill: "她单手裹着被子，向着御傲天就扑了过去……他现在真的太佩服这小东西的联想能力了。灵敏的躲避开瑶瑶的攻击，他邪邪的笑了。"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "宝贝，我有打过你么？"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "你没打我，我的脸怎么会那么疼？你还不承认是不是？没想到你是这种卑鄙的人，我才刚19岁啊，你怎么可以这样？我恨死你了。"
		},
		{
		type: "text",
		fill: "听着瑶瑶声嘶力竭的辱骂声，御傲天根本没心情理会了，主要……这一夜他真的快累死了。"
		},
		{
		type: "dialogue", 
		setting: character.yuat,
		fill: "嘘，宝贝，动静小点，说不定你现在已经有我的宝宝了，要是动了胎气就不好了。"
		},
		{
		type: "text",
		fill: "丢下这句话，他面无表情的离开了房间。在看看坐在床上的瑶瑶已经完全吓傻了……"
		},
		{
		type: "dialogue", 
		setting: character.luoyy,
		fill: "宝宝？宝宝？我才19岁啊，我不……我不想有宝宝啊！呜……"
		},
		{
		type: "text",
		fill: "嚎啕大哭声一遍遍回荡在这只剩下她一人的房间内。"
		},
		]
		};