//- 页面基础样式
$spriteWidth: 21px;

@-webkit-keyframes playing {
	0% {
        background-position: 0 0;
    }
    100% {
        background-position: -$spriteWidth*3  0;
    }
}

@keyframes playing {
	0% {
        background-position: 0 0;
    }
    100% {
        background-position: -$spriteWidth*3  0;
    }
}

body {
	user-select: none;
    font-family: PingHei,"Helvetica Neue",Helvetica,STHeitiSC-Light,"Microsoft YaHei",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

body, button, input, select, textarea {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga","kern";
}

p {
	margin: 0 0 10px;
}

img {
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	border: 0;
}

.h1 {
	font-size: 32px;
}

.blur {
	-webkit-backdrop-filter: /* saturate(150%) */ blur(3px);
	background:rgba(255,255,255,0.1);
}

