block variables
	-var pageNum = 4
	-var lastPage = true

extends ./_page.base

block data
	h1 序章
	b(tu="bieshuw3")
	p 深夜的都市依然灯光闪闪，那灿烂般的灯光就像是闪闪的繁星，城市的街道中，一处高档别墅区的门口，一位带着醉意的人来到了家门口。
	p 孟无良这次喝酒了回来的又有些晚，不知道谢侯宸会不会像以前那样说自己。吹着小曲走进了自己别墅的院子，到了门口，输入密码，很快门开了。
	p 刚想要喊谢侯宸，想告诉他自己回来了，不曾想自己却听到了房内传出的呻吟声。
	p 女人？
	p 一个念头闪过，怎么会有女人在？
	p 这个声音，分明是他们在……
	p 咯噔一声，孟无良的醉意瞬间就消失了，心猛然的揪在一起，不可能！这不可能！
	p 一定是我听错了一定是……
	p 此刻心如刀割，无比的难受，那种滋味无法言说，此刻他只能骗自己这不是真的，他不愿相信！！
	p 那刺耳的声音依旧传进了孟无良的耳朵，久久萦绕，就如同幽灵一般挥之不去，让他大脑一阵晕眩，心脏好似千万支小针扎进孟无良的心一样，疼痛让他清醒的知道这是真的！
	p 此时的他在也无法克制自己内心的愤怒，失去了理智，当即一怒之下，一脚踹开了房门。
	b(tu="bwoshi")
	p 他冲进屋内，怒视着谢侯宸，吼道：
	img(tu="card_mengwl")
	dl
		dt 孟无良 
		dd 麻蛋，谢侯宸你特么不是人！！
	p 谢侯宸正压着一位一丝不挂的女子，女子很享受的发出声音。
	p 这声吼叫并没有让房内的谢侯宸开口，女人的声音不断的传来。
	dl
		dt 女子 
		dd 啊……侯宸……外面有人在……啊……叫你……
	p 看着这一幕，孟无良心都在滴血，那种痛，深入骨髓。
	p 他双手紧握双拳，几乎都能听到拳头紧握的声音，眉头紧锁，狂吼一声：
	dl
		dt 孟无良 
		dd 啊……
	p 气冲冲的摔开房门，孟无良的心痛了，那种痛，他从来没有过。
	p 谢侯宸的额头上有少许汗水，转过头看了看孟无良，眉头一皱，带着些许怒意，甚至一丝戏谑之色，冷漠的说了一句：
	dl
		dt 谢侯宸 
		dd 滚出去！！
	p 滚出去这三个字彻底的伤透了孟无良的心，如一把利刃彻底的插在了孟无良的心头。
	p 眼圈微微泛红，他几乎绝望，摇了摇头，原来谢侯宸只是玩腻了，对自己没兴趣了，答应家里人的条件了，抬气起拳头 砰 的一声重重打在门上。
	p 门忽然之间大晃动，在看孟无良击门的地方，微微向里凹了点，似乎能听到他那牙齿相碰的声音。
	p 床上的女人被那声巨响吓的微微有些发抖，矫情的说：
	dl
		dt 女子 
		dd 侯宸，好可怕……
	p 甜美的声音，能让整个人都酥了，谢侯宸轻轻抱住女人转头，恶狠狠的瞪着孟无良。
	dl
		dt 谢侯宸 
		dd 滚出去！难道你想看我们做完全套？
	p 这明明就是在孟无良的伤口上撒盐，疼痛让他再也克制不住自己的情绪。
	dl
		dt 孟无良 
		dd 姓谢的，我特么就是个傻子！我就知道男人之间特么就不会存在爱情，谢-侯-宸，你特么就是个混蛋！
	p 说完这句话，狠狠的抬脚踹上了门 砰 的一声巨响，床上的女人吓的叫出了声，双手紧紧的搂住谢侯宸的腰。
	p 孟无良看到女人的动作，心揪在了一起，转身来到客厅拿起茶几上的烟灰缸抬手 砰 重重的摔在地上，烟灰缸被摔得粉碎，孟无良的心就像这烟灰缸一样被摔得支离破碎。
	p 伤心欲绝的他，四处寻找可以摔的东西，把屋内所有值钱的摆件全部摔了，一件一件的摔，那声音就像凄惨的音乐般，传进了谢侯宸的耳朵，谢侯宸眼圈微微泛红紧紧盯着门外。
	p 摔完了东西，转身大喊：
	dl
		dt 孟无良 
		dd 是你特么对不起老子的，老子现在就去把你的酒吧砸了。
	p 孟无良离开了。
	p 谢侯宸这才缓缓从女人身上起来，从床头的抽屉里拿出一万元递给了那女的，那女人接过钱笑了笑。
	dl
		dt 女子 
		dd 我说谢总，你也伤心了，这是何必呢？
	p 谢侯宸拿起一只烟点上，吸了一口，吐出那灰蒙蒙的烟雾，冰冷的看了一眼女人。
	dl
		dt 谢侯宸 
		dd 任务已经完成了，拿上钱赶快滚！
	p 女人摇摇头无奈起身穿上外衣便下了床。
	dl
		dt 女子 
		dd 谢总，我不知道你为什么会演这么一出戏，但是在我看来……
	dl
		dt 谢侯宸 
		dd 滚……不要让我说第三遍。
	p 谢侯宸冷冰冰的瞪着女人说道。
	p 女人有些后怕，麻溜的离开了，走出谢侯宸的大门时冷冷一笑。
	dl
		dt 女子 
		dd 真搞不懂，男人之间的爱情。
	p 谢侯宸就这样一直呆呆的看着门外被孟无良整的很惨的客厅，起身走出卧室，来到客厅的沙发前坐下，拿出电话拨通了自己私人医生的电话。
	dl
		dt 端木 
		dd 谢总，有什么吩咐吗？
	img(tu="card_xiehc")
	dl
		dt 谢侯宸 
		dd 端木医生，我已经做好决定了，我明天的飞机，会直接去美国和你会合。
	dl
		dt 端木 
		dd 谢总，我这边也已经安排妥当，就等您前来，提早治疗会好的很快，但是……
	dl
		dt 谢侯宸 
		dd 我明白，如果……如果这次真的……那么就让他这样痛恨我一辈子吧。
	dl
		dt 端木 
		dd 谢总……
	dl
		dt 谢侯宸 
		dd 不用说了，明天中午十一点的飞机。
	dl
		dt 端木
		dd 好的，我在美国等着你。
	p 挂了电话，谢侯宸就这样呆呆的望着那地上烟灰缸的碎片……
	p 许久，悦耳的手机铃声在此想起。
	dl
		dt 沈秘书 
		dd 谢总，孟无良现在在酒吧大闹，一进来就开始砸东西，还专挑贵的砸，我们这边也不好阻拦，怎么办？
	dl
		dt 谢侯宸 
		dd 让他砸，直到他满意！沈秘书实在不行你就帮他砸！
	dl
		dt 沈秘书 
		dd 可是……
	dl
		dt 谢侯宸 
		dd 没事，让他出出气，那些个都不值钱的，明天我离开后，记得把公司所有的事情交给他来管理，告诉他这个公司属于他了，其他的你暂代。
	dl
		dt 沈秘书 
		dd 谢总，你和孟无良你们……
	dl
		dt 谢侯宸 
		dd 如果他问起，就说我死了……怎么死的，你随便编个就好。
	dl
		dt 沈秘书 
		dd 这……好吧谢总。
	dl
		dt 谢侯宸 
		dd 嗯。
	p 电话挂断了，谢侯宸起身看着床头柜上的照片，拿了起来，照片里谢侯宸和孟无良笑的那样开心，那样甜蜜。
	dl
		dt 谢侯宸 
		dd 无良，对不起，我不是有意瞒着你的……
	p 心很痛，是自己亲手造成的痛，眼角留下了一丝泪痕。
	p 电话再次响起。
	dl
		dt 沈秘书 
		dd 谢总，孟无良说要去跳江。
	dl
		dt 谢侯宸 
		dd 让他跳，正好冷静下。
	dl
		dt 沈秘书 
		dd 啊？
	dl
		dt 谢侯宸 
		dd 实在不行你们帮他跳，但是要保证他是安全的，如果他死了，我让你们都偿命。
	dl
		dt 沈秘书 
		dd 额……谢总我知道了。
	dl
		dt 谢侯宸 
		dd 沈秘书，孟无良就交给你了，有什么事，你随时和我联系。
	dl
		dt 沈秘书 
		dd 好的，谢总。
	p ……
	b(tu="sky3")
	p 江边孟无良傻傻的坐在栏杆上，大骂：
	dl
		dt 孟无良 
		dd 特么都离我远点，都是姓谢的养的一群废物……哈哈哈哈……谢-侯-宸你特么就是个混蛋！
	dl
		dt 孟无良 
		dd 老子一直男硬生生的给你掰弯了，特么现在你去找女人，你丫真行，我摔了你那么多东西，你都不出来给我一个解释，好！我们后会无期……
	p 说完这句话，身体朝后一躺，从栏杆上跌落，风吹着孟无良的头发，脸上除了伤心，就是绝望。
	p 扑通 跌落在江水中，那冰凉的水，让他更加清醒，清楚的知道男人之间是没有结果的……
	p 江岸边的人忽然便的紧张起来。
	dl
		dt 沈秘书 
		dd 特么都干什么吃的，还不快下江救人。
	p 这句话一出，岸边的几个人都纷纷如下饺子般 扑通、扑通的跳下江。
	p ……
	b(tu="jichang")
	p 第二天Q市飞机场，一位带着墨镜，提着高档拉杆箱的男人大步的走进了检票处，没错此人就是谢侯宸。他转头看了看外面。
	dl
		dt 谢侯宸 
		dd 无良，你……不要有事，如果……我还活着，那么我会来找你的……
	p 话语中带有一丝丝的怜惜，但谢侯宸还是做出了决定，转身大步走去，上了飞机。
	p 天空中，一架开往美国的飞机在空中飞翔……