block variables
	- var pageName = "目录-纯情丫头火辣辣"
	- var pageClass = "page-list"

extends ../_page.base
block main
	.container
		.row
			.n-cover
				img(src="", alt="")
			.n-info
				.n-title 
				.n-author
				.n-update
				.n-time
				.n-readState
			a.n-btn-read
			.n-2d-code
				img(src="", alt="")
				span 喜欢就长按关注
			.n-abstract
				p
	.cata-container
		.n-outer
			
block footer
block spec-script
	script(src="../_common/page-list.js")
