//- 互动小说1-纯情丫头火辣辣
block variables
	-var pageNum = 2;
	-var lastPage = true;

extends ./_page.base

block data
	h1 第2章 | 你要带我去哪儿
	dl
		dt 洛瑶瑶
		dd 喂，你去哪里？我可是给了钱的，你不许走！
	p 瑶瑶刚要上前追赶，却被两个手下左右押住，直接将她拖上了二楼。
	p 这间女性会所的二楼很清幽，是专供客人与男侍办事的地方。
	dl
		dt 洛瑶瑶
		dd 放开我，你们要带我去哪？！
	p 瑶瑶的吼声一遍遍回荡在二楼。那两个押解她的人全然不理会，一把将她丢入走廊尽头的一个房间。相继对视一眼，无奈摇了摇头，那神情似乎在说：这女孩算是完了……
	b(tu="nightclub_room")
	p 房间内，瑶瑶环顾着这华丽的卧房套间。
	dl
		dt 洛瑶瑶
		dd 这里是……哈，有酒。
	p 她一个箭步冲上前，随手拿起一瓶已经开启的红酒，大口、大口的对嘴喝了起来……
	dl
		dt ???
		dd(yin="yuat0007") 好喝么？
	dl
		dt 洛瑶瑶
		dd 好喝耶。
	p 呃？这屋里有人？下意识的向套房的里屋看去……
	p 只见，落地窗前正站着一位手持红酒杯的男子。
	p 他是？瑶瑶上前一瞧……
	dl
		dt 洛瑶瑶
		dd 原来是你呀。哼，你刚刚怎么跑了？都怪你，我被俩个坏蛋带来这了，他们抓得我都疼死了。
	dl
		dt 洛瑶瑶
		dd 咦，你好高哦，有1米9吗？你平时有打篮球的习惯么？哈，你的肌肉好结实啊。
	p 她先是跟男人比着身高，随后又猛戳男人的肌肉。
	p 面对这，男人只是轻冷的笑了笑，趁机夺过她手中的酒瓶。
	dl
		dt 洛瑶瑶
		dd 喂，你干什么？干什么抢我东西。还给我！还给我！
	p 只有1米5出头的瑶瑶就算蹦起来也够不到男人举起的手，这幅画面看起来，可爱极了。
	dl
		dt ???
		dd(yin="yuat0008") 脱。
	p 脱？是她听错了么？
	dl 
		dt 洛瑶瑶
		dd 你……你说什么啊？
	dl
		dt ???
		dd(yin="yuat0009") 小东西，你刚不是说今天就是出来疯的么？我陪你疯，并且……不收你钱。
	p 男人邪凛的一笑，将手中的红酒放在床头，回身坐在床上的一刹那，他脸上的表情霎时变得无比阴森。
	dl
		dt ???
		dd(yin="yuat0010") 是你自己脱，还是我帮你？！
	p 咦？男人这霸道的命令言语令瑶瑶的酒劲被吓醒了一大半，这……这男侍怎么……怎么这么主动？
	dl
		dt ???
		dd(yin="yuat0011") 呵，看来需要我帮你呢。
	p 他像是拎小鸡一般的，将她霸道地扔上了……
	dl
		dt 洛瑶瑶
		dd 喂，我……
	p 刚要爬起来，却被男人按住了后颈，动弹不得。完全一副待宰羔羊的模样。
	dl
		dt 洛瑶瑶
		dd 等……等等，我……我来这里就是玩……玩来的，不需要额外服务了。
	dl
		dt ???
		dd(yin="yuat0012") 嗯？哦？原来你不需要额外服务了？
	dl
		dt 洛瑶瑶
		dd 是……是！不需要。
	dl
		dt ???
		dd(yin="yuat0013") 可……我需要额外服务呢！
	p 话罢，男人的双眸一暗，伸出另一只闲着的手，用力一扯……
	p 撕拉一声，瑶瑶只觉得后背一阵凉意，一丝恶念更是侵袭着她的脑海。
	dl
		dt 洛瑶瑶
		dd 你……你到底想怎么样？放了我！我只是个小女孩而已，你快放了我。
	dl
		dt ???
		dd(yin="yuat0014") 哦？小女孩？你刚才可的表现可不像小女孩哦。
	p 听着男人嘲讽的声音，她知道这一切都是自找的，可……
	dl
		dt 洛瑶瑶
		dd 大……大哥哥，我其实是为了报复我男朋友才会来这里的，我看到他跟别的女生在做那种事，所以一生气就……就来了这里。求求你放过我吧。
